/* Estilos principais */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .timeline-content h2 {
    font-size: 1.3em;
    margin: 10px 0;
    text-align: left;
    text-transform: uppercase;
}
  h2 {
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  
  
  /* Estilos da imagem de perfil */
  /* Ajuste para a posição do ícone de adicionar foto de perfil */
.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .perfil img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  /* Estilos do formulário */
  .form {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .campo label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .campo input,
  .campo select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1em;
  }
  
  .campo select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  
  /* Estilos da descrição do projeto */
  .descricao {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .descricao textarea {
    width: 100%;
    padding: 10px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
  }
  
  /* Estilos do botão de salvar */
  .botao-salvar {
    background-color: #3a6da8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
    max-width: 800px;
  }
  
  .botao-salvar:hover {
    background-color: #2d568c;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
  
  
    .botao-adicionar-projeto img {
      width: 30px;
    }
  }
  
  .input-url {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .logotipo-img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
  }
  