@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@400;500&display=swap');

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    background-color: #f7f9fc;
    font-family: 'Cabin', sans-serif;
    padding: 20px;
    margin-bottom: 50px;
}

.chat-header {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding: 15px;
    background-color: #588ec0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-header h1 {
    font-size: 1.5rem;
    margin: 0;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.chat-message {
    margin-bottom: 1rem;
    padding: 12px;
    border-radius: 15px;
    max-width: 75%;
    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.5;
}

.sent {
    background-color: #588ec0;
    color: #fff;
    margin-left: auto;
    border-bottom-left-radius: 0; /* Remove a borda inferior esquerda */
}

.received {
    background-color: #f0f0f0;
    color: #333;
    margin-right: auto;
    border-bottom-right-radius: 0; /* Remove a borda inferior direita */
}

.chat-input {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

.chat-input input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.chat-input input:focus {
    background-color: #fff;
    outline: none;
}

.chat-input button {
    padding: 12px;
    background-color: #588ec0;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #4a7bb8;
}

@media (max-width: 768px) {
    .chat-container {
        padding: 10px;
    }

    .chat-message {
        font-size: 0.9rem;
    }

    .chat-header h1 {
        font-size: 1.2rem;
    }

    .chat-input input {
        font-size: 0.9rem;
    }

    .chat-input button {
        font-size: 0.9rem;
    }
}
